.first-page {
  width: calc(100vw - 30px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: 2s ease fadeInFifty;
  filter: brightness(100%);
}

.big-logo {
  background: url('../../assets/bigLogo.png') 50% 10% no-repeat;
  background-size: contain;
  width: 70%;
  height: 50%;
}

.big-logo.fade-in {
  opacity: 0;
  animation: 1s ease-out 1s forwards fadeIn
}

.big-logo.shrink {
  animation: 0.5s ease-in forwards logo-shrink
}

.title {
  width: 70%;
  height: 15%;
}

.title.fade-in {
  opacity: 0;
  animation: 1.5s ease-in 2s forwards fadeIn
}

.title.shrink {
  animation: 0.5s ease-in forwards title-shrink
}

.whenwhere {
  width: 70%;
  max-width: 600px;
  height: 5%;
  max-height: 10%;
}

.whenwhere.fade-in {
  opacity: 0;
  animation: 1.5s ease-in 2s forwards fadeIn
}

.whenwhere.shrink {
  animation: 0.25s ease-in forwards whenwhere-fadeout
}



@media (max-width: 400px) {
  .buttons {
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
  }
  .btn-pink {
    width: 75px;
    height: 30px;
    margin: 5px;
    background: transparent;
    border: 1px solid pink;
    color: pink;
  }
}

@media (min-width: 400px) {
  .buttons {
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
  }
  .btn-pink {
    width: 140px;
    height: 50px;
    margin: 5px;
    background: transparent;
    border: 1px solid pink;
    color: pink;
    font-size: x-large
  }
}
.btn-active {
  background: pink;
  border: 1px solid white;
  color: white;
}

.detail {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1%;
  width: calc(100vw - 30px);
  height: 0px;
  margin-top: 15px;
}

.detail.unshrink {
  animation: 0.5s ease-in forwards detail-unshrink
}

.fade-in {
  opacity: 0;
  animation: 2s ease-out 3s forwards fadeIn
}

.fade-out {
  opacity: 0;
  animation: 1s ease-out forwards fadeOut
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInFifty {
  from {
    filter: brightness(50%);
  }
  to {
    filter: brightness(100%);
  }
}
@keyframes logo-shrink {
  from {
    height: 50%;
    opacity: 0;
  }
  to {
    height: 0%;
    opacity: 0;
  }
}
@keyframes title-shrink {
  from {
    height: 15%;
    opacity: 1;
  }
  to {
    height: 8vh;
    opacity: 1;
  }
}
@keyframes detail-unshrink {
  from {
    height: 0;
  }
  to {
    height: calc(80%);
  }
}
@keyframes whenwhere-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}